# Python Intermediate - Day 1
---
This is an intermediate level of Python programming. 

If you are new to Python programming, you are suggested to start with Python Introduction.  

You can download the notebooks for Python Intro by the link below.

[Python Intro](https://github.com/ngsanluk/PythonIntro-Blank)

# Using Pandas
- `pandas` is a fast, powerful, flexible and easy to use open source data analysis and manipulation add-on for Python
- `pandas` is built on top of `numpy` and therefore quite often these two are used together.

## Import `pandas`
To import `numpy` and `pandas`

* `import numpy as np` # np is the alias
* `import pandas as pd` # pd is the alias

## Check Installed Version

To check the version of `numpy` and `pandas`, type the following commands

```
print(np.__version__)
print(pd.__version__)
```

## Some Handy Features

Some quickhands to speed up your code typing.

**Creating array**

The following statement involves too many special characters to type and therefore it will be slow to enter.

```
l = ['A', 'B', 'C', 'D', 'E']
``` 

Using `list()` function would pick a character a time and make it a independant list member.
```
l = list('ABCDE') # 
```

Use `split()` function to separate strings with SPACES in-between
```
l = 'A B C D E'.split()
```

**Generates a range of dates**:
```
dates = pd.date_range('20210101', periods=7) 
type(dates) # returns pandas.core.indexes.datetimes.DatetimeIndex
```

## Use `type()` function to check type

Remember you can use `type()` function to verify the type of a variable or the returned object from a function call.

**Example**:
```
type(dates)
```

# Keyboard Shortcuts

A few keyboard shortcuts will speed up your code typing in great deal.  

To apply keyboard shortcuts, you must be in **COMMAND** mode.

When a cell is in EDIT mode, the border color is GREEN.

When a cell is in COMMAND mode, the border color is BLUE.

## Switching between COMMAND / EDIT modes
* Press `ESC` to switch to COMMAND mode (while you are in EDIT mode)
* Press `ENTER` to switch to EDIT mode (while you are in COMMAND mode)

To apply other keyboard shortcuts, make sure you are in **COMMAND** mode (Cell border in BLUE)

## Operating/Managing Codes

* `SHIFT + ENTER`: Run current cell and move to next cell
* `CMD + ENTER` (Mac) or `CTRL + ENTER` (Windows): run and stay at the current cell
* `A`: insert new cell ABOVE
* `B`: insert new cell BELOW
* `D + D`: delete the current celll
* `M`: change a cell to **Markdown** type
* `Y`: change a cell to **Code** type
* `C`: copy
* `V`: paste
* `o`: show/hide cell's output
* `SHIFT + UP/DOWN`: to select multiple cells

## Spliting/Merging Cell(s)
* `SHIFT + CTRL + -` (Mac/Windows): split current cells into two cells from where your cursor is currently at.
* `SHIFT + M` (Mac/Windows): Merge multiple cells

## Code Completion and Helps
* `SHIFT + TAB`: after you input code keyword, press this key combination to show helps
* `. + TAB`: type `.` and press `TAB` for code completion

**Example**:

Type `pd.read_` + `TAB`, you wil see prompts of whole list of functions name for reading different formats of file.

## Multiple Lines/Cursors

Press and hold `OPTION` (on Mac) or `ALT` (on Windows) to select mulple lines

Press and hold `OPTION + CMD` (on Mac) or `ALT + CTRL` (on Windows) to add more cursor

# Help

Prepend a `?` to a library name, method name or variable name, you can access the Docstring quick reference

**Example**

```
?print
?str.upper
?pd.read_csv
?pd.read_excel
```

**Or use `help()` function**
```
help(print)
help(str.upper)
help(pd.read_csv)
help(pd.read_excel)
```

# EXERCISE : Shortcuts Practicing

Picking up a few shortcuts will speed up your code typing by great deal.  

You have 3 minutes to practice the above mentioned keyboard shortcuts.

Type `address.` and followed by pressing `TAB` key
you will see a list of function that can be applied to a string type

# Markdown

## What is Markdown

Markdown is a lightweight markup language that you can use to add formatting elements to plaintext text documents.

Markdown is widely used in Jupyter Notebook for adding descriptive contents and instructions.

## Basic Syntax

![Markdown Cheat Sheet](https://res.cloudinary.com/practicaldev/image/fetch/s--2rTn_7XO--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/5zhubbpov3m3ly9a1t9c.png)

## More on Markdown

[More Markdown Syntax](https://www.markdownguide.org/basic-syntax/)

## Markdown Playground 

The following page let you type markdown and provide instant live rendering/preview

[dillinger.io](https://dillinger.io/)

# EXERCISE: Markdown Practicing

# IPython Magic Commands

**A few common magic commands**

* `%pwd`: shows working directory
* `%ls`: lists the files/folders under current directory
* `%cd`: change the working directory to certain folder


**To list all the IPython magic commands, type**
```
%lsmagic
```

# Delete a variable from kernel

Use the following command to delete variable from environment

`del varaialb_name`

e.g.:

```
greeting = "hello from Sunny"
print(greeting)
del greeting
print(greeting) # since greeting is deleted, this line will throw an error

```

# Pandas `DataFrame`

A `DataFrame` is a two dimensional data structure.  

It's one of the most widely used format for data science.

**To declare a dataframe, use `pd.DataFrame()` function**:
```
students = pd.DataFrame({
    "Name": ["Andy", "Ben", "Cathy", "Debra", "Eva"],
    "Age": [20, 22, 23, 22, 21],
    "Sex": ["male", "male", "female", "female", "female"],
    "Year": [1, 3, 4, 3, 2]
})
```

**Check the type by using `type()` function**
```
print(type(students)) # it returns pandas.core.frame.DataFrame

```
**In real situation**
- When we need to use `DataFrame`, they are seldom loaded like above.
- Instead, we usually import data from external files like csv, excel, json

# `DataFrame` Information

* `students.shape` #returns the dimension of data-frame in the form of tuple
* `students.shape[0]` #retrieves the first elememnt of the returned tuple.  it represents the number of row
* `students.info()` #returns the detailed information for a data-frame
* `students.describe()` #shows the basic statistical summary such as min, max, average of a column (only for numeric columns)

## Converting pandas dataframe to numpy array

Many functions only accept numpy array or python dictionary as arguments.  

In these cases, type conversion is required.

To convert dataframe to numpy array
```
students.to_numpy()
students.values
```

To convert dataframe to Python dictionary
```
students.to_dict()
```

# Selecting Column(s)

## To Select a Column 

Specify a **column name** (in string) to indicate which column you want to retrieve

**Example**
```
students['Name']
name = students['Name']
print(type(name)) # returns pandas.core.series.Series
```

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

## Retrieving Multiple Columns
Use `[]` (square bracket) with a column names (in string) to indicate which columns you want to retrieve

**Example**

* `columns = ['Name', 'Year']` # declare the columns you want in a list
* `print(students[columns])` # pass the column list as paramenter to the dataframe
* `print(type(students[columns]))` # Returns **pandas.core.frame.DataFrame**

A quick hand to write the above code is using **double** square brackets
```
name_and_year = students[['Name', 'Year']] # doubled square bracket are used here
print(type(name_and_year)) # Returns **pandas.core.frame.DataFrame**
```
**Below is a mistake**
```
name_and_year = students['Name', 'Year'] # this is a mistake
```

# Selecting Row(s)

## Use `loc[]` to Locate Row
Pandas use the `loc` attribute to return one or more specified row(s)

Example:
```
students.loc[0] # specify by row number
students.loc[1] # specify by row number
type(students.loc[0]) # returns pandas.core.series.Series
```

## Alternative to Locate Multiple Rows
Provide a list of row number: `[0, 2]`

**Example**:
```
rows = [0, 2] # defines a list of row number separated by comma
students.loc[rows] # use the defined row numbers as parameter for loc[]
```

**Or simplified it by one liner**:
```
students.loc[[0, 2]]
type(students.loc[[0, 2]])
```

**Below is a mistake**
```
students.loc[0, 2] # have to use double pairs of squar brackets
```

## Retrieving Rows with Range
- Provide the starting row number and ending row number
- Use `:` to separate the starting row number and ending row number

Example:

* `students.loc[0:2]`  # selecting from position 0 to 2 (inclusive)
* `students.loc[:2]` # omitting the starting index. selecting from position 0 to 2 
* `students.loc[2:]` # omitting the ending index. selecting from position 2 all the way to the end

Short hand:
(Works a bit different. It's exclusive. The end index is NOT included in the result)

* `students[0:2]` # from position 0 to 1. End index (row 2) is NOT included.
* `students[:2]` 
* `students[2:]` # from position 2 to the end

# Filtering Rows
- It scans through each row
- Perform a logical operation on a column of each row 
- It returns `True` or `False` as result for the comparison operation on that row

**Example**:

* `filter = students['Age']<23` # this returns a Series of True/False
* `print(filter)`
* `type(filter)` # It a Pandas Series of True/False
* `students[filter]` # use the filter as parameters. A True means that row will stay.  A False means that row will be kicked out.


**It's common to code in one-liner manner**
```
students[students['Age']<23]
```

## Filtering Rows with Multiple Conditions
**Example**:

* `filter = students['Age']<23`
* `filter2 = students['Year']==3`
* `students[filter & filter2]` # &: AND logical operator
* `students[filter | filter2]` # |: OR logical operator


**Or in one-liner**

* `students[(students['Age']<23) & (students['Year']==3)]` # make sure you include the a pair of () for each logical operation
* `students[(students['Age']<23) | (students['Year']==3)]` # make sure you include the a pair of () for each logical operation

## Practice One-liner Approach

In [59]:
students[(students['Age']<23) & (students['Year']==3)]

    Name  Age     Sex  Year
1    Ben   22    male     3
3  Debra   22  female     3

In [ ]:
students[(students['Age']<23) | (students['Year']==3)]

## `concat()` Function

You can use `concat()` function to merge multiple Series to form a data-frame

```
pd.concat([filter, filter2, (filter & filter2)], axis=1)
pd.concat([filter, filter2, (filter | filter2)], axis=1)

```

## Restricting Rows and Columns
You can apply both **row filtering** and **columns selecting** in one statement

Example:

* `students[students['Year']==3]` # row filtering only
* `students[students['Year']==3][['Name', 'Year']]` # row filtering and followed by column selecting.  The code can easily become difficult to read

## Creating Subset using `loc[]`

You can also use `loc[]` to select rows range and columns at the same time

# EXERCISE: Row/Column Selecting

You have 5 minutes to practice the rows and column Selecting statements

Load the **graduates.csv** file as df
```
df = pd.read_csv('./data/graduates.csv')
df.head()
df.info()
df.desribe()
```

### Task 1
**Select all the rows that LevelOfStudy is  'Undergraduate'**

Hints: use `==` to check if the value of `LevelOfStudy` is equivalent to `'Undergraduate'`

### Task 2
**Select all the rows that `LevelOfStudy` is  'Undergraduate' and `ProgrammeCategory` is 'Business and Management'**

Hints: 
* Use `&` to put together mutilple logical expression
* Use `()` to wrap each logical expression

### Task 3
**Select all the rows that `LevelOfStudy` is  'Undergraduate' and `ProgrammeCategory` is 'Business and Management' and for rows of 'male' only**

Hints: 
* Use `&` to put together mutilple logical expression
* Use `()` to wrap each logical expression

### Task 4
- Select all the rows that `LevelOfStudy` is  `Undergraduate` and `ProgrammeCategory` is `Business and Management` and for rows of male only.  
- Show only the `AcademicYear` and `Headcount`

Hints: 
* Use `&` to put together mutilple logical expression
* Use `()` to wrap each logical expression

# Reading External Data Source

use `pd.read_xxx()` funtion to read file of various types.

Type `pd.read_` + `TAB` to see the complete list of read functions.

**Example**:
```
allowance_df = pd.read_csv('./data/allowance.csv') # the dot './' mean current path path
allowance_df.head() # return the first 5 rows
allowance_df.tail() # return the last 5 rows
allowance_df.head(8)
allowance_df.tail(8)
allowance_df.info() # the table meta data
allowance_df.describe() # basic statistic information
```
**Handling Empty Values**:
- The `info()` method also tells us how many Non-Null values there are present in each column
- Empty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values or replace the empty value with an average value of the column
- This process is a called data tidying.

In [27]:
allowance_df = pd.read_csv('./data/allowance.csv')

In [28]:
allowance_df.head()

,Assessment_Year,Basic,Married_Person,Child,Child_newborn,Dependent_Brother_Sister,Dependent_Parent_60,Dependent_Parent_55,Additional_Dependent_Parent_60,Additional_Dependent_Parent_55,Personal_Disability_Allowance,Single_Parent,Disabled_Dependant
0,2019/20,132000,264000,120000,120000,37500,50000,25000,50000,25000,75000.0,132000,75000
1,2018/19,132000,264000,120000,120000,37500,50000,25000,50000,25000,75000.0,132000,75000
2,2017/18,132000,264000,100000,100000,37500,46000,23000,46000,23000,NaN,132000,75000
3,2016/17,132000,264000,100000,100000,33000,46000,23000,46000,23000,NaN,132000,66000
4,2015/16,120000,240000,100000,100000,33000,40000,20000,40000,20000,NaN,120000,66000

In [29]:
allowance_df.tail()

,Assessment_Year,Basic,Married_Person,Child,Child_newborn,Dependent_Brother_Sister,Dependent_Parent_60,Dependent_Parent_55,Additional_Dependent_Parent_60,Additional_Dependent_Parent_55,Personal_Disability_Allowance,Single_Parent,Disabled_Dependant
6,2013/14,120000,240000,70000,70000,33000,38000,19000,38000,19000,NaN,120000,66000
7,2012/13,120000,240000,63000,63000,33000,38000,19000,38000,19000,NaN,120000,66000
8,2011/12,108000,216000,60000,60000,30000,36000,18000,36000,18000,NaN,108000,60000
9,2010/11,108000,216000,50000,50000,30000,30000,15000,30000,15000,NaN,108000,60000
10,2009/10,108000,216000,50000,50000,30000,30000,15000,30000,15000,NaN,108000,60000

In [30]:
allowance_df.head(8)

,Assessment_Year,Basic,Married_Person,Child,Child_newborn,Dependent_Brother_Sister,Dependent_Parent_60,Dependent_Parent_55,Additional_Dependent_Parent_60,Additional_Dependent_Parent_55,Personal_Disability_Allowance,Single_Parent,Disabled_Dependant
0,2019/20,132000,264000,120000,120000,37500,50000,25000,50000,25000,75000.0,132000,75000
1,2018/19,132000,264000,120000,120000,37500,50000,25000,50000,25000,75000.0,132000,75000
2,2017/18,132000,264000,100000,100000,37500,46000,23000,46000,23000,NaN,132000,75000
3,2016/17,132000,264000,100000,100000,33000,46000,23000,46000,23000,NaN,132000,66000
4,2015/16,120000,240000,100000,100000,33000,40000,20000,40000,20000,NaN,120000,66000
5,2014/15,120000,240000,70000,70000,33000,40000,20000,40000,20000,NaN,120000,66000
6,2013/14,120000,240000,70000,70000,33000,38000,19000,38000,19000,NaN,120000,66000
7,2012/13,120000,240000,63000,63000,33000,38000,19000,38000,19000,NaN,120000,66000

In [31]:
allowance_df.info() # the table meta data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Assessment_Year                 11 non-null     object
 1   Basic                           11 non-null     int64
 2   Married_Person                  11 non-null     int64
 3   Child                           11 non-null     int64
 4   Child_newborn                   11 non-null     int64
 5   Dependent_Brother_Sister        11 non-null     int64
 6   Dependent_Parent_60             11 non-null     int64
 7   Dependent_Parent_55             11 non-null     int64
 8   Additional_Dependent_Parent_60  11 non-null     int64
 9   Additional_Dependent_Parent_55  11 non-null     int64
 10  Personal_Disability_Allowance   2 non-null      float64
 11  Single_Parent                   11 non-null     int64
 12  Disabled_Dependant              11 non-null     int64
dtypes: float64(1), int64(11), object(1)
memory usage: 1.2+ KB

In [32]:
allowance_df.describe() # basic statistic information

,Basic,Married_Person,Child,Child_newborn,Dependent_Brother_Sister,Dependent_Parent_60,Dependent_Parent_55,Additional_Dependent_Parent_60,Additional_Dependent_Parent_55,Personal_Disability_Allowance,Single_Parent,Disabled_Dependant
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,2.0,11.000000,11.000000
mean,121090.909091,242181.818182,82090.909091,82090.909091,33409.090909,40363.636364,20181.818182,40363.636364,20181.818182,75000.0,121090.909091,66818.181818
std,9974.512975,19949.025950,26534.711400,26534.711400,2931.025263,7032.392584,3516.196292,7032.392584,3516.196292,0.0,9974.512975,5862.050526
min,108000.000000,216000.000000,50000.000000,50000.000000,30000.000000,30000.000000,15000.000000,30000.000000,15000.000000,75000.0,108000.000000,60000.000000
25%,114000.000000,228000.000000,61500.000000,61500.000000,31500.000000,37000.000000,18500.000000,37000.000000,18500.000000,75000.0,114000.000000,63000.000000
50%,120000.000000,240000.000000,70000.000000,70000.000000,33000.000000,40000.000000,20000.000000,40000.000000,20000.000000,75000.0,120000.000000,66000.000000
75%,132000.000000,264000.000000,100000.000000,100000.000000,35250.000000,46000.000000,23000.000000,46000.000000,23000.000000,75000.0,132000.000000,70500.000000
max,132000.000000,264000.000000,120000.000000,120000.000000,37500.000000,50000.000000,25000.000000,50000.000000,25000.000000,75000.0,132000.000000,75000.000000

# Tidying Data
Fixing bad data in your data set.

**Bad data could be**:
- Empty cells
- Data in wrong format
- Wrong data
- Duplicates

## Rename Columns: `rename()`

Call `rename()` function with dictionay object

Example:
```
students.rename(columns={'Name': 'StudentName', 'Sex': 'Gender'})
```

## Delete Columns

Call `drop()` function to delete the columns that your don't want

Example:
```
students.drop(columns=['Age', 'Year']) # this statement returns a new dataframe
```

## Replacing the existing data-frame variable

We usually tend to replace the old dataframe variable with the processed data frame and therefore the code will go like

```
students
students = students.rename(columns={'Name': 'StudentName', 'Sex': 'Gender'})
students = students.drop(columns=['Age', 'Year'])

```

## Drop Rows with Empty Values

Empty values cause noise to your data. One of the fixing is removing them.

You can remove the rows with empty value by `dropna()` function

```
cleaned_df = df.dropna() # 9 rows with null value will be dropped
print(df.shape[0])
print(cleaned_df.shape[0])
cleaned_df
cleaned_df.info()
cleaned_df.describe()
```

## Replacing empty cells with mean or median

An alternative fixing to rows will empty values is using `fillna()` function to fill in the missing values for these rows.

```
allowance_df["Personal_Disability_Allowance"].describe()
x = allowance_df["Personal_Disability_Allowance"].mean()
allowance_df["Personal_Disability_Allowance"].fillna(x, inplace = True)
allowance_df["Personal_Disability_Allowance"].describe()
```

# Aggregation Functions

aggregation functions provide summary information about a column.

```
allowance_df = pd.read_csv('./data/allowance.csv')
allowance_df.info()
```

* `allowance_df['Basic'].max()` # returns the maximum value for the column
* `allowance_df['Basic'].min()` # returns the minimum value for the column
* `allowance_df['Basic'].median()` # returns the median for the column
* `allowance_df['Basic'].mean()` # returns the mean value for the column
* `allowance_df['Basic'].std()` # returns the standard deviation for the column
* `allowance_df['Basic'].sum()` # returns the standard deviation for the column

# Finding Columns' Relationship
The `corr()` method calculates the relationship between each column in your data set.
```
df.corr()
```
The Result of the `corr()` method is a table with a lot of numbers that represents how well the relationship is between two columns.
- The number varies from `-1` to `1`.
- `1` means that there is a 1 to 1 relationship (a perfect correlation).
- `0.7` or above is also a good relationship, and if you increase one value, the other will probably increase as well.
- `-0.7` or below would be just as good relationship as 0.7, but if you increase one value, the other will go down.
- `0.2` means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

Example:
```
students2 = pd.read_excel('./data/Students.xlsx', sheet_name=0)
students2
students2.corr()
```

# Groupby and  Groups' Aggregations

## `Groupby()`: divide data into groups

**`unique()` function**
```
gra = pd.read_csv('./data/graduates.csv')
gra.info()
gra["LevelOfStudy"].unique() # Display unique values of a column
gra["ProgrammeCategory"].unique()
```

**`groupby() function`**
```
gra.groupby('LevelOfStudy')
gra.groupby('ProgrammeCategory')
group_by_level = gra.groupby('LevelOfStudy') # save the grouping as a variable
group_by_category = gra.groupby('ProgrammeCategory') # save the grouping as a variable
group_by_level.groups # Display groups and rows belongs to that groups
```

**Those integer numbers in the list are the row number.**
```
group_by_level.first() # gives you a preview of the first few groups
group_by_level.last() # gives you a previous of the last few groups
group_by_level.size() # return the number of row (group size) in each group
group_by_level.get_group("Sub-degree") # get a group by provide the KEY of the group
```

## `describe()` function

Show the basic statistics summary of numberic column.

## `unique()` function

This function list the unique values for a column.

Examples:
```
df["LevelOfStudy"].unique()
df["ProgrammeCategory"].unique()
```

## `value_counts()` function

This function returns the number of row for each distinct value

Example:
```
gra["LevelOfStudy"].value_counts()
gra['ProgrammeCategory'].value_counts()
```


```
list(gra.groupby('LevelOfStudy'))
group_by_level = gra.groupby('LevelOfStudy')
group_by_level.groups
group_by_category = gra.groupby('ProgrammeCategory')
group_by_category

group_by_level.groups # Display groups and rows belongs to that groups

for group_key, group_data in group_by_level:
    print(group_key)
    print(group_data.head())
    
group_by_level.size()    
```

## Those integer numbers in the list are the row number.

**Group Info**
```
group_by_level.first() # gives you a preview of the first few groups
group_by_level.last() # gives you a previous of the last few groups
group_by_level.size() # return the number of row (group size) in each group
```

**To get a group**
```
group_by_level.get_group("Sub-degree") # get a group by provide the KEY of the group
```


**To loop through the groups**
```
for group_key, group_data in group_by_level:
    print(group_key)
    print(group_data.head())
```

## Group Aggregated Data

An aggregated function returns a single aggregated value for each group.

**Using a column name (Returns as Series)**:
```
group_by_level.Headcount.sum() # summation of each group
group_by_level.Headcount.mean() # mean value of each group
group_by_level.Headcount.max() # max value of each group
group_by_level.Headcount.min() # min value of each group
```

**Using agg() function (Returns as data-frame)**:
```
group_by_level.Headcount.agg(['max', 'min', 'count', 'median', 'mean']) 
```

**Without column (Returns as data-frame)**:

- we dont actually have to specify a column like Headcout. 
- Without a column, it will perform the aggregation across all of the **numeric** columns

```
group_by_level.agg(np.sum) # summation of each group
group_by_level.agg(np.mean) # mean value of each group
group_by_level.agg(np.max) # max value of each group
group_by_level.agg(np.min) # min value of each group
```

## Aggregated values of the whole data-frame

Aggregated functions can also be applied to a complete column of a dataframe
```
gra["Headcount"].sum()
gra["Headcount"].mean()
gra["Headcount"].max()
gra["Headcount"].min()
gra["Headcount"].std()
```

## Group by with multiple columns

**Example**:
```
gra['LevelOfStudy'].unique()
gra['ProgrammeCategory'].unique()
group_by_level_category = gra.groupby(['LevelOfStudy', 'ProgrammeCategory'])
group_by_level_category.groups
group_by_level_category.ngroups # number of groups
gra.groupby(['LevelOfStudy', 'ProgrammeCategory']).agg(np.mean)
```

## More on Multiple Columns Groupby

**Example**:

```
group_by_level_category_year = gra.groupby(['LevelOfStudy', 'ProgrammeCategory', 'AcademicYear'])
group_by_level_category_year.get_group(('Undergraduate', 'Arts and Humanities', '2020/21' ))
```

## Groups Filtration

Filtration is a process in which we discard some groups, according to a group-wise computation that evaluates `True` or `False`.

* `group_by_level.Headcount.size()` # returns number of rows
* `group_by_level.Headcount.sum()` # returns the summation of group

# EXERCISE: Groupby

You have 5 minutes to practice `groupby()`

Group the graduates by LevelOfStudy and Sex.  Show the **total headcount** for each group.

# Merging Data
- **Concatenation**: combining together Series, DataFrame
- **Joining**: join operations is very similar to relational databases like SQL

## Reading Excel Files
```
left = pd.read_excel('./data/Students.xlsx', sheet_name=0)
right = pd.read_excel('./data/Students.xlsx', sheet_name=1)
```

## Using `merge()` function
```
joined = pd.merge(left, right, on='AcademicYear')
joined
```

## using `concat()` function

```
df1 = pd.read_excel('./data/Students.xlsx', sheet_name=0)
df2 = pd.read_excel('./data/Students.xlsx', sheet_name=0)
concatencate1 = pd.concat([df1, df2])
concatencate1
concatencate2 = pd.concat([df1, df2], axis=1)
concatencate2
```

```
left = pd.read_excel('./data/Students.xlsx', sheet_name=0)
right = pd.read_excel('./data/Students.xlsx', sheet_name=1)
joined = pd.merge(left, right, on='AcademicYear')
joined
```

# Data Visualization

## Matplotlib Introduction
Matplotlib is a low level graph plotting library for python.

## Import `matplotlib`

Most of features that we will use belong to `pyplot` submodule.

The sub module is usually imported as `plt` alias.

```
import matplotlib.pyplot as plt
%matplotlib inline
```

## Simple Line Plot

**Syntax**:

Use `plot()` function to draw points.

By default, the `plot()` function draws a **line** from point to point.

It takes TWO parameter to make a point: 

* `x` is an array containing the points on the x-axis.

* `y` is an array containing the points on the y-axis.

```
plt.plot(x, y)
```

* `x`: a numpy array for x-axis
* `y`: a numpy array for y-axis

**`plot()` function generates line plot by default**:
```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2)
```

## Plot Without Line (Markers Only)

Add a third parameter to specify the marker so as to plot without line. 

```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2, 'o') # the third parameter 'o' is the marker shape
```

## Other Marker Shapes

Other markers to consider:

`'o'`	Circle	
`'*'`	Star	
`'.'`	Point	
`','`	Pixel	
`'x'`	X	
`'X'`	X (filled)	
`'+'`	Plus	
`'P'`	Plus (filled)	
`'s'`	Square	
`'D'`	Diamond	
`'d'`	Diamond (thin)	
`'p'`	Pentagon	
`'H'`	Hexagon	
`'h'`	Hexagon	
`'v'`	Triangle Down	
`'^'`	Triangle Up	
`'<'`	Triangle Left	
`'>'`	Triangle Right	
`'1'`	Tri Down	
`'2'`	Tri Up	
`'3'`	Tri Left	
`'4'`	Tri Right	
`'|'`	Vline	
`'_'`	Hline

Examples:
```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2, 'D') # diamond marker
```

## Plotting Both Line and Markers

Add a parameter name `marker` to your function to keep both line and markers.

**Examples**:
```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2, marker='D') # diamond marker
```

**Specifying Marker Size**:
```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2, marker='o', ms=10) # ms: marker size
```

**Specifying Marker Fill Color**:
```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2, marker='o', mfc='#FF00FF') # mfc: marker fill color
```

## Line Styles

Add parameter `ls` to specify the line style

* `-`: solid line
* `:`: dotted line
* `--`: dashed line
* `-.`: dashdot line

Example:
```
n = np.arange(1,11) # a range of number from 1 to 10
plt.plot(n, n*2, ls=":") # ls: line style
```

Add `color` or `c` parameter to specify the line color
```
plt.plot(n, n*2, color="purple") # color: line color
```

## Help with `plot()` function

Type
```
?plt.plot
```

or

```
help(plt.plot)
```

## Plot with Real Data

**import graduates data file**
```
gra = pd.read_csv('./data/graduates.csv') 
```


**select subset of undergraduate in 'Business and Management' and male students only**
```
ug_bm_m = gra[(gra['LevelOfStudy']=='Undergraduate') 
                    & (gra['ProgrammeCategory']=='Business and Management') 
                    & (gra['Sex']=='M')]
ug_bm_m.head() # shows the rows previews
ug_bm_m.info() # show dataframe information
```


**Extact the required columns in the format of numpy array for x-axis and y-axis**
```
year = ug_bm_m['AcademicYear'] # extract `AcademicYear` column as `year` numpy array
headcount = ug_bm_m['Headcount'] # extract `Headcount` column as `headcount` numpy array

plt.plot(year, headcount) # year as x-axis and headcount as y-axis
```

**Plot without providing x column**:

you can plot without providing x-axis. the index number/row number will be automatically used as values for x-axis
```
plt.plot(headcount) 
```

## Rotating the xtickes

Call `xticks()` function to rotate the xticks.  

It requires a `rotation` degree in as parameter.

Example:
```
plt.xticks(rotation=90)
plt.plot(year, headcount)
```

## Setting Title

**Use `title()` function to add plot title**

Example:
```
plt.title('Undergraduate Students \n Business and Management')


plt.plot(year, headcount)
```

You can specify title location with `loc` paremeter
```
plt.title('Undergraduate Students \n Business and Management', loc="right")
plt.title('Undergraduate Students \n Business and Management', loc="left")

```

You can specify title font size with `fontsize` parameter
```
plt.title('Undergraduate Students \n Business and Management', fontsize=22) 
```

## Setting Axis Labels

**Use `xlabel()` and `ylabel()` to add axis labels**

Example:
```
plt.xlabel('Academic Year')
plt.ylabel('Student Headcount', fontsize=14)
plt.plot(year, headcount)
```

## Plotting Multiple Lines

You can plot multiple line simply by adding more plot() function.

**Extracting Female undergraduate in 'Business and Management' for another plot**
```
ug_bm_f = gra[(gra['LevelOfStudy']=='Undergraduate') 
                    & (gra['ProgrammeCategory']=='Business and Management') 
                    & (gra['Sex']=='F')]
```

**Plotting multiple lines**
```
plt.plot(ug_bm_f['AcademicYear'], ug_bm_f['Headcount'])
plt.plot(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'])
```

## Add Labels to Line and Show Legend


**Adding Labels and Color to Plots**
In the above plots, you can't tell which line is which. 

Let's add label and color to differentiate the lines
```
plt.plot(ug_bm_f['AcademicYear'], ug_bm_f['Headcount'], label = "Female", c="tomato")
plt.plot(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'], label = "Male")
plt.legend() # call this function to show legend
```

You can change the location of legend if it's blocking your lines
```
plt.legend(loc="center right")
```

## Configuring Grid Lines

**Call `grid()` function to configure grid line**

Example:
```
plt.plot(ug_bm_f['AcademicYear'], ug_bm_f['Headcount'], label = "Female", c="tomato")
plt.plot(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'], label = "Male")

plt.grid() # shows both x and y axis grid lines

plt.grid(axis='y') # shows y-axis grid lines only

plt.grid(axis='x') # shows x-axis grid lines only

```

**Configuring `color` and `linewidth`**
```
plt.grid(c="purple", linewidth=0.1)
```


**Check help for more on configuring grid lines**
```
?plt.grid
help(plt.grid)
```

## Subplots

To draw multiple plots in one fiture, use `subplot()` function to specify the the number of `row`, `column` and the `position` of current plot.

**Example 1: 1 Row x 2 Columns**
```
plt.subplot(1,2,1) # the first two number are row and column while the last number is position
plt.plot(ug_bm_f['AcademicYear'], ug_bm_f['Headcount'], label = "Female", c="tomato")
plt.title("Female")

plt.subplot(1,2,2)
plt.plot(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'], label = "Male")
plt.title("Male")
```

**Example 2: Two Rows x 1 Column**
```
plt.subplot(2,1,1)
plt.plot(ug_bm_f['AcademicYear'], ug_bm_f['Headcount'], label = "Female", c="tomato")
plt.title("Female")

plt.subplot(2,1,2)
plt.plot(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'], label = "Male")
plt.title("Male")
```

## Bar Plot

**Example**:

```
plt.bar(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'])
```

**Example:**
```
plt.barh(ug_bm_m['AcademicYear'], ug_bm_m['Headcount'])
```

## Histograms

A histogram is a graph showing frequency distributions.
```
heights = np.random.normal(170, 10, 250)
print(heights)

plt.hist(heights)
```

## Pie Chart

Pie Chart lets you emphasize the portion of whole.

**Use `unique()` function to show the distinct values of a column**
```
gra['LevelOfStudy'].unique()
gra['ProgrammeCategory'].unique()
```

**Exacting Rows**
```
engr_m_2021 = gra[(gra['ProgrammeCategory']=="Engineering and Technology") &
             (gra['Sex']=='M') &
             (gra['AcademicYear']=='2020/21')]

ug_m_2021 = gra[(gra['LevelOfStudy']=="Undergraduate") &
             (gra['Sex']=='M') &
             (gra['AcademicYear']=='2020/21')]
```


**Plotting Pie-chart with Labels**
```
plt.pie(engr_m_2021['Headcount'], labels=engr_m_2021['LevelOfStudy'])
plt.show()

plt.pie(ug_m_2021['Headcount'], labels=ug_m_2021['ProgrammeCategory'])
plt.show()
```

## Saving Plots

Use `savefig()` function to save plots as external files.

```
plt.pie(ug_m_2021['Headcount'], labels=ug_m_2021['ProgrammeCategory'])
plt.savefig("./plots/pie.png")
plt.show()
```

# More on Matplotlib

![Matplotlib Tutorial](https://matplotlib.org/3.5.0/_images/sphx_glr_pyplot_005.png)
[Matplotlib Tutorial](https://matplotlib.org/stable/tutorials/index.html)